@font-face {
    font-family: 'BrengkelRegular';
    src: url('../fonts/brengkelregular.eot');
    src: url('../fonts/brengkelregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brengkelregular.woff') format('woff'),
         url('../fonts/brengkelregular.ttf')  format('truetype'),
         url('../fonts/brengkelregular.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'UniSansThinCaps';
    src: url('../fonts/unisansthincaps.woff') format('woff'),
         url('../fonts/unisansthincaps.ttf')  format('truetype');
}

@font-face {
    font-family: 'WorksansLight';
    src: url('../fonts/Worksanslight.woff') format('woff'),
         url('../fonts/Worksanslight.ttf')  format('truetype');
}

@font-face {
    font-family: 'UniSansHeavyCaps';
    src: url('../fonts/unisansheavycaps.woff') format('woff'),
         url('../fonts/unisansheavycaps.ttf')  format('truetype');
}

@font-face {
    font-family: 'WorksansSemibold';
    src: url('../fonts/Worksanssemibold.woff') format('woff'),
         url('../fonts/Worksanssemibold.ttf')  format('truetype');
}

@font-face {
    font-family: 'WorksansExtraLight';
    src: url('../fonts/Worksansextralight.woff') format('woff'),
         url('../fonts/Worksansextralight.ttf')  format('truetype');
}
@font-face {
    font-family: 'WorksansRegular';
    src: url('../fonts/Worksans.woff') format('woff'),
         url('../fonts/Worksans.ttf')  format('truetype');
}




html,body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 4px;
}

.header {
    width: 100%;
    background-color: #171A21;
    height: 55px;
    display: flex;
}

.logo {
    margin-left: 33px;
    margin-top: 11px;
}

.logo img {
    width: 32px;
}

.title p {
    font-family: 'BrengkelRegular';
    color: #C7C5C2;
    font-size: 39px;
    margin-top: 14px;
    margin-bottom: 0;
    margin-left: 14px;
    letter-spacing: 4px;
    user-select: none;
}

.navbar {
    font-family: 'UniSansThinCaps';
}

.navbar ul {
    display: flex;  
    list-style: none;
    padding-left: 0;
}

.navbar ul li {
    margin-left: 48px;
    font-size: 21px;
}

.navbar a {
    color: rgb(206, 199, 199);
}

.navbar a:hover {
    color: rgb(103, 193, 253);
    transition: 0.3s color;
}

.intro {
    /*height: 100vh;*/
    width: 100%;
}

.intro-top {
    /*background-color: #617788;*/
    height: 50vh;
    position: relative;
    /*display: flex;*/
    align-items: center;
    height: calc(100vh - 55px);
}

.inthead {
    /*background-color: #617788;*/
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100vh - 55px);
}

.bgvideo {
    width: 100%;
    min-height: 100%;
    position: absolute!important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: -1000;
}

.bgimg {
    height: auto;
    width: 100%;	
    margin: auto;	
}

.greeting {
    width: fit-content;
    padding-left: 295px;
    margin: 0 auto;
}

.greeting-title {
    font-family: 'UniSansHeavyCaps';
    font-size: 34px;
    color: white;
}

.greeting-text {
    font-family: 'WorksansLight';
    color: white;
    font-size: 21px;
    margin-top: 8px;
    margin-left: 2px;
}

.scrolldown {
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.scrolldown:hover svg path {
    fill: #c7c7c7;
    transition: 0.3s;
}

.gallery {
    background-color: #171A21;
    height: calc(50vh - 55px);
    overflow-x: hidden;
    position: relative;
    user-select: none;
    /*
    display: flex;
    justify-content: center;
    align-content: center;*/
}



.gallery-arrows .arrow {
    position: absolute;
    top: 43%;
    cursor: pointer;
    z-index: 5;
}

.gallery-arrows .arrow-right {
    right: 0;
}

.image-holder ul {
    list-style-type: none;
    list-style: none;
    display: flex;
}

.image-holder {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.slider-image {
    margin: 0 60px;
    display: flex;
    align-items: center;
    background-size: cover;
    border-radius: 12px;
}

.slider-image img {
    height: 32vh;
}

.slider-image video {
    height: 32vh;
    border-radius: 12px;
    opacity: 0;
    transition: 0.4s;
}

.slider-image video::-webkit-media-controls {
    display:none !important;
}

.image-holder ul {
    margin: 0px;
    position: absolute;
}

.image-holder div:not(.current) {
    opacity: 0.2;
}




.popular-games {
    display: flex;
    justify-content: center;
}

.popular-title p {
    font-family: 'WorksansSemibold';
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 12px;
    font-size: 20px;
}

.popular-games .popgame {
    margin: 0px 25px;
    position: relative;
	border-radius: 10px;
}

.popular-games .popgame {
    position: relative;
	padding-right: 17px;
	padding-left: 17px;
}

.popular-games .popgame img {
    cursor: pointer;
    border: 2px solid transparent;
    max-width: 260px;

    transition: transform 0.5s, filter 0.5s ease-in-out;
    transform-origin: center center;
}

.popular-games .popgame:hover img {
    filter: brightness(100%);
    transform: scale(1.05);
}


.popular-games .tl {
    font-family: 'WorksansExtraLight';
    text-align: center;
    font-size: 22px;
}

.popular-games .st {
    font-family: 'UniSansHeavyCaps';
    text-align: center;
    color: #2A45B9;
    font-size: 13px;
}

.boxshadower {
-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 255, 221, 0.82);
-moz-box-shadow: 0px 0px 17px 0px rgba(0, 255, 221, 0.82);
box-shadow: 0px 0px 17px 0px rgba(0, 255, 221, 0.82);
}

.all-games {
    text-align: center;
    margin-top: 42px;
    margin-bottom: 36px;
}

.all-games button {
    font-family: 'WorksansRegular';
    color: #2A45B9;
    border: 2px solid #2A45B9;
    background: transparent;
    font-size: 19px;
    width: 130px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.all-games button:hover {
    background-color: #2A45B9;
    color: white;
}

.popular hr {
    width: 86%;
}



.streams-title p {
    font-family: 'WorksansSemibold';
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 12px;
    font-size: 20px;
}



.streams-online {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stream {
	position: relative;
    margin-bottom: 25px;
	margin-right: 10px;
    height: 200px;
}

.stream-box {
    border: 2px solid #185ff2;
    border-radius: 5px;
    width: 270px;
    height: 152px;
    position: relative;
    cursor: pointer;
}

.stream-box img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.stream-info {
    margin-top: 5px;
    display: flex;
}

.stream-icon img {
    max-width: 44px;
    max-width: 44px;
    border-radius: 50%;
    border: 2px solid #185ff2;
    cursor: pointer;
}

.stream-name {
    margin-top: 5px;
    margin-left: 9px;
    cursor: pointer;
}

.stream-name p {
    font-family: 'WorksansSemibold';
}

.stream-name-1 {
    color: #003CFF;
}

.stream-name-2 {
    color: #6B6B6B;
}

.online-span {
    font-family: 'WorksansSemibold';
    color: white;
    background-color: #E83232;
    width: 54px;
    position: absolute;
    top: 7px;
    left: 7px;
    border-radius: 5px;
    padding-left: 5px;
}



.see-more {
    text-align: center;
    margin-bottom: 36px;
    margin-bottom: 12px;
}

.see-more button {
    font-family: 'WorksansRegular';
    color: #2A45B9;
    border: 2px solid #2A45B9;
    background: transparent;
    font-size: 19px;
    width: 130px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.see-more button:hover {
    background-color: #2A45B9;
    color: white;
}


footer {
    min-height: 161px;
    background-color: #171A21;
    position: relative;
}

.footer-list {
    display: flex;
}


.footer-logo .footer-sp {
    display: flex;
    align-items: center;
}

.footer-img {
    margin-left: 111px;
}

.footer-img img {
    width: 64px;
}

.footer-title p {
    font-family: 'BrengkelRegular';
    color: #C7C5C2;
    font-size: 60px;
    margin-left: 20px;
    width: 403px;
}

.footer-credits {
    font-family: 'UniSansThinCaps';
    color: #626366;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-links {
    width: 35%;
    text-align: center;
    padding-top: 39px;
    font-size: 22px;
}


.footer-links p a {
    font-family: 'WorksansRegular';
    color: #C4C2BF;
}

.footer-18 {
    width: 20%;
    text-align: center;
    padding-top: 35px;
}

.footer-18 p {
    font-family: 'WorksansRegular';
    color: #C7C5C2;
    font-size: 66px;
    margin-left: 50px;
}





@media screen and (max-width: 770px) {
    .dialog {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0 !important;
        margin: 0;
        top: 0;
        padding: 10px;
        border-radius: 0;
        padding: 50px 0px;
    }
}
.dialog-background {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.85);
    position: fixed;
    display: none;
    z-index: 99;
}
.dialog {
    padding: 40px;
    width: 50%;
    position: fixed; left: 45%; top: 40%;
    height: auto;
    margin-top: -100px;
    margin-left: -25%;
    background: #fff;
    display: none;
    z-index: 100;
    text-align: center;
    border-radius: 3px;
}
.cButton {border: none;color: #fff;padding: 10px 30px;cursor:pointer;}
.hidden {display: none !important;}
.show .dialog, .show .dialog-background {display: block;    background-color: #262626;}
.cButtonConsent {border: 1px solid #1ba38c;background: none;color:#1ba38c;}
.cButtonConsent:hover{background: #1ba38c;color:#fff;}
.cButtonNoConsent {border: 1px solid #ca5a5b;background: none;color: #ca5a5b;}
.cButtonNoConsent:hover{background:#ca5a5b;color:#fff;}
.cButtonNoConsent, .cButtonConsent {transition: .1s linear all;}
.cButtonThird {background:none;color: #a2a2a2 !important;margin-top: 10px;font-size: 0.9rem;}

.dialog-h {
    font-family: 'WorksansSemibold';
    font-size: 22px;
    margin-bottom: 15px;
    color: white;
}

.dialog-p {
    font-family: 'WorksansRegular';
    color: white;
}

.modal {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0 !important;
    margin: 0;
    top: 0;
    padding: 10px;
    border-radius: 0;
    padding: 50px 0px;
}
.modal .modal_content {
    padding: 40px;
    width: 50%;
    position: fixed; left: 45%; top: 40%;
    height: auto;
    margin-top: -100px;
    margin-left: -25%;
    background: #fff;
    display: none;
    z-index: 100;
    text-align: center;
    border-radius: 3px;
}
.modal .modal_bg {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.85);
    position: fixed;
    display: none;
    z-index: 99;
}
.modal .modal_content .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
